body {
	font-family: 'Didact Gothic';
	background-color: #cc99ff;
}

.typing {
	font-family: 'Amatic SC';
	font-size: 100pt;
	color: white;
}

.tinyTyping {
	color: white;
	text-align: center;
}

.tiny {
	font-size: 10pt;
}

.aboutTyping, .noMobile p {
	font-family: 'Amatic SC';
	font-size: 60pt;	
}

span {
	font-size: 25pt;
}

.cdr {
	font-family: 'VT323';
}

.dsgr {
	font-family: 'Barrio';
}

#wrapper {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

#entrada {
	padding-bottom: 50px;
	height: 100vh;
}

#footer {
	bottom: 2%;
	right: 2%;
	text-align: right;
	position: fixed;
	z-index: -10;
	color: #bf80ff;
}

#accordion {
	position: fixed;
	top: 10%;
	width: 90%;
	display: none;
}

.card, a{
	background-color: #cc99ff;
	color: white;
	border: 0;
	font-size: 13pt;
}

.card-header {
    background-color: rgba(0,0,0,0);
	padding: 0;
	border-bottom: 0;
}

.card-header button {
	color: white;
	text-align: center;
	text-decoration: underline;
}

h2 {
	margin-top: 15px;
}

.btn-link:hover, a:hover {
	color: #9966CC;
}

.card-body {
	max-height: 45vh;
}

.col-7, .col-8 {
	height: 40vh;
    overflow: auto;
}

h1, h2 {
	font-size: 50pt;
	font-family: 'Amatic SC';
}

.icons, h2, h5 {
	text-align: center;
}

.icons img {
	width: 40px;
	margin: 0 3%;
}

.image {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.imgProj:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.tooltip-inner { 
	background-color: #bf80ff;
}

.bckGround {
	background-color: #bf80ff;
	padding: 15px;
}

.pointer {
	font-size: 13pt;
}

.noMobile {
	display: none;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #bf80ff;
}
																						/** scrollbar aqui **/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d9b3ff;
}

::-webkit-scrollbar-thumb {
  background: #bf80ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #9966CC;
}
																						/** bloquear o mobile **/
@media screen and (max-width: 1279px) {
	.noMobile {
		display: block;
		color: white;
		margin: 10%auto;
		width: 90%;
		height: 90vh;
	}
	
	#wrapper {
		display: none;
	}
}
